body {
background-color: #754719;

  color:#111;
  font-family: Georgia, "Times New Roman",
serif;
  margin: 0;
  padding: 60px 20px;
}

.site-title {
  display: block;
  margin: 0 0 30px auto;
  max-width: 700px;
  width: 100%;
}
