body {
  /*star background*/
background-image: url("background.jpg");
background-repeat: repeat;
background-size: auto;
background-position: top left;
  /*blur for background seams*/
background-image:
  linear-gradiant(
    rgba(40, 30, 20, 0.25)
    rgba(40, 30, 20, 0.25)
    ),
  url("background.jpg");
  background-repeat: repeat;
background-size: auto;

  color:#111;
  font-family: Georgia, "Times New Roman",
serif;
  margin: 0;
  padding: 40px 20px;
}
/*title image*/
.site-title {
  display: block;
  margin: 0 auto 30px 0;
  max-width: 550px;
  width: 100%;
}
