body {
background-image: url("wood.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position; center top;

  color:#111;
  font-family: Georgia, "Times New Roman",
serif;
  margin: 0;
  padding: 60px 20px;
}

.site-title {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 700px;
  width: 100%;
}
